.header {
  display: flex;
  align-items: center;
  border-bottom: lightgrey 1px solid;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  padding: 1rem;
}

.header a:hover {
  background-color: #069874;
  color: white;
}

.search-input-wrapper {
  width: 30%;
}

@media (max-width: 576px) {
  .header > div {
    flex-direction: column;
  }

  .search-input-wrapper {
    width: 80%;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
