header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-bottom: lightgrey 1px solid;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

header > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:hover {
  background-color: #069874;
  color: white;
}
