.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 10rem;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

form {
  width: 40%;
}

.error {
  color: red;
}

@media (max-width: 992px) {
  form {
    width: 60%;
  }
}

@media (max-width: 576px) {
  form {
    width: 80%;
  }
}
